body {
    margin: 0px;
    background: url('../Basic-Portfolio/Assets/images/folk-pattern.png')
    
}


a:hover {
    background-color: #4aaaa5;
    color: white;
}

a:active{
    background-color: #4aaaa5;
    color: white;
  }



img {
    width: 260px;
    height: 260px;
}

h2{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    Border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    color: #fff;
}