body {
    margin: 0px;
    background: url('Assets/images/folk-pattern.png')
    
}

.container{
    margin: auto;
    padding: 20px;
    width: 960px;
    height: 700px;
    overflow: auto;
}


a:hover {
    background-color: #4aaaa5;
    color: white;
}

a:active{
    background-color: #4aaaa5;
    color: white;
  }



img {
    width: 230px;
    height: 230px;
}

h1{
    margin: 20px 0 0 20px;
    color: #4aaaa5;
}

h2{
    font-size: 30px;
    width: 230px;
    opacity: 0.9;
    position: relative;
    bottom: 80px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    background: #4aaaa5
}

.badge{
    font-size: 30px;
    opacity: 0.9;
    position: relative;
    left: 30px;
    bottom: 80px;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    background: #4aaaa5
}

button:active{
    background: #4aaaa5;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    left: 10px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    Border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: #fff;
}